*{
  padding: 0;
  margin: 0;
  border: none;
}

#container{
  /* display: flex;  */
  justify-content: center;
  background-color:#9EABBC;
}


body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.login-wrapper{
  width: 400px;
  height: 350px;
  padding: 40px;
  margin:auto;
  margin-top:200px;
  box-sizing: border-box;
  align-content: center;
  background-color:white;
  border-radius: 3%;
}

.login-wrapper > h2{
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
#login-form > input{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ededed;
}
#login-form > input::placeholder{
  color: #a1a1a1;
}
#login-form > input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #FC6736;
  margin-top: 20px;
}



#signup a{
  text-decoration: none;
  color:#a1a1a1;
}



/* navbar */
.body {
  margin: 0;
  font-family: 'Montserrat';}

a {
  text-decoration: none;
  color: #f0f4f5;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C2D57;
  padding: 8px 12px;}

.nav_logo {
  font-size: 30px;
  color: #f0f4f5;}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;}

.nav_menu li {
  font-size: 20px;
  padding: 5px 12px;
}

.nav_menu li:hover {
  color: #0C2D57;;
  background-color: #FC6736;
  border-radius: 4px;}

.nav_menu li a:hover {
  color: #0C2D57;;}

.nav_login {
  display: flex;
  color: #7dc0ff;
  list-style: none;
  padding-left: 0;}

.nav_login li {
  font-size:15px;
  padding: 8px 8px;}

.navbar_toggleBtn {
  display: none;
  color:#f0f4f5;
  position: absolute;
  right: 32px;
  font-size: 24px;}


/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}