*{
  padding: 0;
  margin: 0;
  border: none;
}

#container{
  /* display: flex;  */
  justify-content: center;
  background-color:#ffffff;
}


body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.logos{
  position: relative;
  display: flex;
  justify-content: center; /* 로고를 중앙에 위치 */
  align-items: center; /* 로고를 수직 중앙에 위치 */
}

#logo{
  margin-top: 40px;
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 600;
  font-size: 80px;
  line-height: 163px;
  color: #0C2D57;
  text-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
}

#logo > a{
  color: #0C2D57;
}

.login-wrapper{
  width: 400px;
  height: 530px;
  padding: 40px;
  margin:auto;
  margin-top:20px;
  box-sizing: border-box;
  align-content: center;
  background-color:white;
  border-radius: 3%;
  border: #a1a1a1;
  border-style: solid;
  border-width: 1px;
}

.login-wrapper > h2{
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}
#signup-form > input{
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ededed;
}
#signup-form > input::placeholder{
  color: #a1a1a1;
}
#signup-form > input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #FC6736;
}
#login{
  display: flex;
}

#login > a{
  color: #a1a1a1;
  margin-left: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

* {
    box-sizing: border-box;
}



h2 {
    text-align: center;
    margin: 0 0 20px;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: #777;
    display: block;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

/* navbar */
.body {
  margin: 0;
  font-family: 'Montserrat';}

a {
  text-decoration: none;
  color: #f0f4f5;}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C2D57;
  padding: 8px 12px;}

.nav_logo {
  font-size: 30px;
  color: #f0f4f5;}

.nav_menu {
  display: flex;
  list-style: none;
  padding-left: 0;}

.nav_menu li {
  font-size: 20px;
  padding: 5px 12px;
}

.nav_menu li:hover {
  color: #0C2D57;;
  background-color: #FC6736;
  border-radius: 4px;}

.nav_menu li a:hover {
  color: #0C2D57;;}

.nav_login {
  display: flex;
  color: #7dc0ff;
  list-style: none;
  padding-left: 0;}

.nav_login li {
  font-size:15px;
  padding: 8px 8px;}

.navbar_toggleBtn {
  display: none;
  color:#f0f4f5;
  position: absolute;
  right: 32px;
  font-size: 24px;}

/* footer */

footer {
  background-color: #ffffff;
  color: #0C2D57;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 50px;
}