<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="../css/home.css">

</head>

<body id="container">
    <!--나브-->
    <!-- <nav class="navbar">
    <div class="nav_logo">
        <a href="">Learnwor</a>
    </div>
    <ul class="nav_menu">
        <li><a href="./home.html">Home</a></li>
        <li><a href="./mypage.html">My Page</a></li>
    </ul>
    <ul class="nav_login">
        <li><a href="./login.html">Login</a></li>
        <li><a href="./signup.html">SignUp</a></li>
    </ul>
    <a href="#" class="navbar_toggleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
    </nav> -->
    
    <nav class="navbar">
        <div id="beforeLogin">
            <button id="loginBtn" name="loginBtn">Log In
            </button>
            <button id="signupBtn" name="signupBtn">Sign Up
            </button>
        </div>

        <!-- 로그인 성공시-->
        <div id="afterLogin">
            <button id="mypageBtn" name="mypage">
                My page
            </button>
            <button id="logoutBtn" name="logout">
                Logout
            </button>
        </div>  
    </nav> 

    <div class="scrollable">

        <!--링크 페이지-->
        <div id="mainPage" class="scrollable">
            <!--로고-->   
            <div class="logos">
                <h1 id="logo">Learnwor</h1>
                <div class="circles">
                    <div class="circle1"></div>   
                    <div class="circle2"></div>  
                </div> 
            </div>
            <!--설명-->
            <div id="example">
                <p>러너에대한 설명. 어쩌고 저쩌고. </p>
                <p>우리는 이런이런팀이고 아래에 링크를 넣으면 된다. </p>
                <p>설명을 넣어줘~~  러너에대한 설명. 어쩌고 저쩌고. 우리는 이런이런팀이고 아래에 링크를 넣으면 된다. </p>
            </div>
            <!--링크-->
            <input type="text" placeholder="링크를 입력하세요.">
        </div>


        <!--원문, 번역문-->
        <div id="translatePage">
            <div>
                <h4 class="before">원문</h4>
                <textarea id="beforeTranslate" cols="60", rows="45" readonly>
                    이런식으로
                </textarea>
            </div>

            <div>
                <h4 class="after">번역문</h4>
                <textarea id="afterTranslate" cols="60", rows="45" readonly>
                    ?
                </textarea>    
            </div>
        </div>


        <!--소개 페이지-->
        <div class="container2">
            <!-- <div class="left-section">
                <img src="../images/IMG_3237.jpeg">
            </div> -->
            <div class="right-section">
                <div class="title">"LearnNow"란?</div>
                <div class="content">
                    <p>러너에대한 설명. 어쩌고 저쩌고. </br>
                        우리는 이런이런팀이고 아래에 링크를 넣으면 된다. </br>
                        설명을 넣어줘~~  러너에대한 설명. 어쩌고 저쩌고. </br>
                        우리는 이런이런팀이고 아래에 링크를 넣으면 된다.</p>
                    <p>러너에대한 설명. 어쩌고 저쩌고. </br>
                        우리는 이런이런팀이고 아래에 링크를 넣으면 된다. </br>
                        설명을 넣어줘~~  러너에대한 설명. 어쩌고 저쩌고. </br>
                        우리는 이런이런팀이고 아래에 링크를 넣으면 된다.</p>
                </div>
            </div>
        </div>


        <!-- 푸터 -->
        <footer>
            <p><b>Learnwor</b> Copyright &copy; <b>Ezpz Corp</b>. All Rights Reserved.</p>
        </footer>

    </div>

    <script type="text/javascript" src="../js/home.js">
    </script>
</body>