{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="logo">Learnwor</div>
        <div class="description">
            리눅스에서 성원, 아미라 지원과,<br>
            우리는 어쩌구저쩌구 어쩌구저쩌구 내용이 들어간다.<br>
            성원을 받아내~ 리눅스에서 성원, 아미라 지원과,<br>
            우리는 어쩌구저쩌구 어쩌구저쩌구 내용이 들어간다.
        </div>
    </div>

    <div class="browser">
        <div class="tabs">
            <div class="tab">원문</div>
            <div class="tab">번역문</div>
        </div>
        <div class="content">
            <div class="placeholder"></div>
            <div class="placeholder"></div>
        </div>
    </div>

    <div class="container">
        <div class="title">최근 번역된 단어</div>
        <ul>
            <li class="bullet-point">최근 번역된 단어를 확인해보세요! 최대 10개까지 확인할 수 있어요.</li>
        </ul>
    </div>


{% endblock %}