<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/login.css">
  </head>

<body id="container">
  <nav class="navbar">
    <div class="nav_logo">
      <a href="./home.html">Learnwor</a>
    </div>
    <ul class="nav_menu">
      <li><a href="./home.html">Home</a></li>
      <li><a href="./mypage.html">My Page</a></li>
    </ul>
    <ul class="nav_login">
      <li><a href="./login.html">Login</a></li>
      <li><a href="./signup.html">SignUp</a></li>
    </ul>
    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>

<div class="login-wrapper">
  <h2>Login</h2>
  <form method="post" action="#" id="login-form">
      <input type="text" id="userEmail" name="userEmail" placeholder="Email">
      <input type="password" id="userPassword" name="userPassword" placeholder="Password">
      <input type="submit" id="loginSubmitButton" value="Login" style="cursor:pointer">
  </form>
  <div id="signup">
  <a href="./signup.html" title="Sign Up">
    Sign Up
  </a>
</div>

</div>


<script type="module" src="../js/login.js">
</script>


  <footer>
    <p>&copy; 2024 Your Website. All rights reserved.</p>
  </footer>

</body>
</html>