<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/login.css">
  </head>

<body id="container">

  <div class="logos">
    <h1 id="logo">
      <a href="./home.html">Learnwor</a>
    </h1>
  </div>

<div class="login-wrapper">
  <h2>Login</h2>
  <form method="post" action="#" id="login-form">
      <input type="text" id="userEmail" name="userEmail" placeholder="Email">
      <input type="password" id="userPassword" name="userPassword" placeholder="Password">
      <input type="submit" id="loginSubmitButton" value="Login" style="cursor:pointer">
  </form>
  <div id="signup">
  <a href="./signup.html" title="Sign Up">
    Sign Up
  </a>
</div>

</div>


<script type="module" src="../js/login.js">
</script>


  <footer>
    <p><b>Learnwor</b> Copyright &copy; <b>Ezpz Corp</b>. All Rights Reserved.</p>
  </footer>

</body>
</html>