<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/mypage.css">
  </head>



<body id="container">
  <nav class="navbar">
    <div class="nav_logo">
      <a href="">Learnwor</a>
    </div>
    <ul class="nav_menu">
      <li><a href="./home.html">Home</a></li>
      <li><a href="./mypage.html">My Page</a></li>
    </ul>
    <ul class="nav_login">
      <li><a href="./login.html">Login</a></li>
      <li><a href="./signup.html">SignUp</a></li>
    </ul>
    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>
  
  <div id="boxes">
    <div id="box1">
      <i class="fa-solid fa-user fa-6x"></i>
      <h4>User Name</h4>
    </div>
    <div id="box2">
      <!-- <li><label>단어명<br><label style="font-size: 17px;">단어뜻</label></label></li> -->

      <table>
        <thead>
          <tr>
            <th class=word1>단어</th>
            <th>뜻</th>
          </tr>
        </thead>
        <tbody>
          <!-- 단어와 뜻을 2x10 형식으로 나타냅니다. -->
          <tr>
            <td class=word1>연속일</td>
            <td>아무런 조건이 붙어 있지 않는 날</td>
          </tr>
          <tr>
            <td class="word1">오버슈팅</td>
            <td>경제에 어떤 충격이 가해졌을 때, 물가나 환율 따위가 일시적으로 폭등하거나 폭락하였다가 시간이 지나면서 장기 균형 수준으로 되돌아가는 현상</td>
          </tr>
          <tr>
            <td class=word1>연속일</td>
            <td>아무런 조건이 붙어 있지 않는 날</td>
          </tr>
          <tr>
            <td class="word1">오버슈팅</td>
            <td>경제에 어떤 충격이 가해졌을 때, 물가나 환율 따위가 일시적으로 폭등하거나 폭락하였다가 시간이 지나면서 장기 균형 수준으로 되돌아가는 현상</td>
          </tr>
          <tr>
            <td class=word1>연속일</td>
            <td>아무런 조건이 붙어 있지 않는 날</td>
          </tr>
          <tr>
            <td class="word1">오버슈팅</td>
            <td>경제에 어떤 충격이 가해졌을 때, 물가나 환율 따위가 일시적으로 폭등하거나 폭락하였다가 시간이 지나면서 장기 균형 수준으로 되돌아가는 현상</td>
          </tr>
          <tr>
            <td class=word1>연속일</td>
            <td>아무런 조건이 붙어 있지 않는 날</td>
          </tr>
          <tr>
            <td class="word1">오버슈팅</td>
            <td>경제에 어떤 충격이 가해졌을 때, 물가나 환율 따위가 일시적으로 폭등하거나 폭락하였다가 시간이 지나면서 장기 균형 수준으로 되돌아가는 현상</td>
          </tr>
          <tr>
            <td class=word1>연속일</td>
            <td>아무런 조건이 붙어 있지 않는 날</td>
          </tr>
          <tr>
            <td class="word1">오버슈팅</td>
            <td>경제에 어떤 충격이 가해졌을 때, 물가나 환율 따위가 일시적으로 폭등하거나 폭락하였다가 시간이 지나면서 장기 균형 수준으로 되돌아가는 현상</td>
          </tr>


        </tbody>
      </table>
    </div>

  </div>

</div>
<footer>
  <p>&copy; 2024 Your Website. All rights reserved.</p>
</footer>



</body>
</html>