<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/signup.css">
  </head>

<body id="container">
  <div class="login-wrapper">
    <h2>Sign Up</h2>
    <form method="post" action="#" id="signup-form">
      <div class="form-control">
        <span id="username">Username</span>
        <input type="text" id="userName" placeholder="Enter username" required autocomplete="off">

      </div>
      <div class="form-control">
        <span id="email">Email</span>
        <input type="text" id="userEmail" placeholder="Enter email" required>
      </div>
      <div class="form-control">
        <span id="password">Password</span>
        <input type="password" id="userPassword" placeholder="Enter password" required>
      </div>
      <div class="form-control">
        <span id="password">Confirm Password</span>
        <input type="password" id="confirmUserPassword" placeholder="Enter password again" required>
      </div>

      <input type="submit" id="signupSubmitButton"value="Sign Up" style="cursor:pointer">
    </form>

  </div>
  <!-- <footer >
      <div style="left: 76px; bottom: 100px; position: absolute; color: #BBBBBB; font-size: 24px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">DEVELOPER </div>
      <div style="left: 76px; bottom: 45px; position: absolute; color: #BBBBBB; font-size: 18px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">Kabeen kim<br/></div>
      <div style="left: 352px; bottom: 80px; position: absolute"><span style="color: #BBBBBB; font-size: 24px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">CONTACT</span><span style="color: #BBBBBB; font-size: 28px; font-family: Amaranth; font-weight: 400; word-wrap: break-word"> <br/></span><span style="color: #DFDFDF; font-size: 18px; font-family: Amaranth; font-weight: 400; word-wrap: break-word"><br/></span></div>
      <div style="left: 352px; bottom: 45px; position: absolute"><span style="color: #BBBBBB; font-size: 28px; font-family: Amaranth; font-weight: 400; word-wrap: break-word"> <br/></span><span style="color: #BBBBBB; font-size: 18px; font-family: Amaranth; font-weight: 400; word-wrap: break-word">kabin2205@gmail.com <br/></span></div>
      <div style="width: 100%; height: 119px; left: 0px; bottom: 50px; position: absolute; border-top: 3px #BBBBBB solid"></div>
  </footer> -->

  <script type="module" src="../js/signup.js">
  </script>
</body>
</html>