<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/signup.css">
  </head>

<body id="container">

  <div class="logos">
    <h1 id="logo">
      <a href="./home.html">Learnwor</a>
    </h1>
  </div>

  <div class="login-wrapper">
    <h2>Sign Up</h2>
    <form method="post" action="#" id="signup-form">
      <div class="form-control">
        <span id="username">Username</span>
        <input type="text" id="userName" placeholder="Enter username" required autocomplete="off">
      </div>

      <div class="form-control">
        <span id="email">Email</span>
        <input type="text" id="userEmail" placeholder="Enter email" required>
      </div>
      
      <div class="form-control">
        <span id="password">Password</span>
        <input type="password" id="userPassword" placeholder="Enter password" required>
      </div>
      
      <div class="form-control">
        <span id="password">Confirm Password</span>
        <input type="password" id="confirmUserPassword" placeholder="Enter password again" required>
      </div>

      <input type="submit" id="signupSubmitButton"value="Sign Up" style="cursor:pointer" >
    </form>
    
    <div id="login">
      <p class="intro">If you already have an account -> </p>
      <a href="./login.html" title="login">
        Sign in
      </a>
    </div>  

  </div>

  <footer>
    <p><b>Learnwor</b> Copyright &copy; <b>Ezpz Corp</b>. All Rights Reserved.</p>
  </footer>

  <script type="module" src="../js/signup.js">
  </script>
</body>
</html>