<!DOCTYPE html>
<html lang="ko">
  <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://kit.fontawesome.com/87c08dff42.js" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="../css/signup.css">
  </head>

<body id="container">

  <nav class="navbar">
    <div class="nav_logo">
      <a href="">Learnwor</a>
    </div>
    <ul class="nav_menu">
      <li><a href="./home.html">Home</a></li>
      <li><a href="./mypage.html">My Page</a></li>
    </ul>
    <ul class="nav_login">
      <li><a href="./login.html">Login</a></li>
      <li><a href="./signup.html">SignUp</a></li>
    </ul>
    <a href="#" class="navbar_toggleBtn">
      <i class="fa-solid fa-bars"></i>
    </a>
  </nav>

  <div class="login-wrapper">
    <h2>Sign Up</h2>
    <form method="post" action="#" id="signup-form">
      <div class="form-control">
        <span id="username">Username</span>
        <input type="text" id="userName" placeholder="Enter username" required autocomplete="off">

      </div>
      <div class="form-control">
        <span id="email">Email</span>
        <input type="text" id="userEmail" placeholder="Enter email" required>
      </div>
      <div class="form-control">
        <span id="password">Password</span>
        <input type="password" id="userPassword" placeholder="Enter password" required>
      </div>
      <div class="form-control">
        <span id="password">Confirm Password</span>
        <input type="password" id="confirmUserPassword" placeholder="Enter password again" required>
      </div>

      <input type="submit" id="signupSubmitButton"value="Sign Up" style="cursor:pointer" onclick="location.href='./login.html';">
    </form>

  </div>

  <footer>
    <p>&copy; 2024 Your Website. All rights reserved.</p>
  </footer>

  <script type="module" src="../js/signup.js">
  </script>
</body>
</html>